.container{
    margin: 0 auto;
}
.carousl-custom img{
    height: 600px;
    position: fixed;
}
.carousell-image-wapper{
    position: relative;
    overflow: hidden;
}
.carousel-button{
    position: absolute;
    top: 300px;
    left: 400px;
    display: block
}

@media only screen and (max-width: 750px){
    .carousel-button{
        top: 300px;
        left: 100px;
    }
}